.slider-container {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  padding: 8px 10px;
  border: 1px solid var(--ui-border-color);
  border-radius: var(--ui-border-radius);
  background-color: var(--ui-background-color);
}

.slider-container > div {
  display: flex;
  justify-content: space-between;
  column-gap: 24px;
  flex-wrap: wrap;
}

.slider {
  width: 100%;
  height: 6px;
  margin: 8px 0;
  border-radius: 16px;
  appearance: none;
  background-color: var(--ui-void-color);
  cursor: pointer;
}

.slider::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  appearance: none;
  background-color: var(--cell-color);
  box-shadow: none;
}

.slider::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  appearance: none;
  background-color: var(--cell-color);
  box-shadow: none;
}
