.switch {
  width: 39px;
  height: 26px;
  margin: 0;
  flex-shrink: 0;
  border-radius: 72px;
  appearance: none;
  background-color: var(--ui-void-color);
  position: relative;
  cursor: pointer;
}

.switch::after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background-color: var(--ui-background-color);
  border-radius: 50%;
}

.switch:hover::after {
  background-color: var(--ui-hover-color);
}

.switch,
.switch::after {
  transition: all 100ms ease-in-out;
}

.switch:checked {
  background-color: var(--cell-color);
}

.switch:checked::after {
  left: 16px;
  background-color: #fff;
}

.switch-container {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: row-reverse;
  justify-content: space-between;
  max-width: 360px;
  padding: 8px 10px;
  border: 1px solid var(--ui-border-color);
  border-radius: var(--ui-border-radius);
  background-color: var(--ui-background-color);
}
