:root {
  --backdrop-color: #fff;
  --cell-color: #5cceee;
  --cell-highlight-color: #a33111;
  --cell-debug-color: #eee75c;
  --cell-debug-highlight-color: #ea7b21;
  --grid-line-color: #d4d4d4;
  --text-color: #000;
  --ui-background-color: #fdfdfd;
  --ui-border-color: #d1d5db;
  --ui-void-color: #d0d4de;
  --ui-shadow-color: rgba(0, 0, 0, 0.2);
  --github-mark: url('/github-mark.svg');
  --ui-border-radius: 8px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --backdrop-color: rgb(9 9 11);
    --cell-color: #1186a6;
    --cell-highlight-color: #942c10;
    --cell-debug-color: #8e8e0e;
    --cell-debug-highlight-color: #875310;
    --grid-line-color: #2f2f2f;
    --text-color: #dadada;
    --ui-background-color: rgb(24 24 27);
    --ui-border-color: #606060;
    --ui-void-color: #4e4e4e;
    --ui-shadow-color: rgba(255, 255, 255, 0.4);
    --github-mark: url('/github-mark-white.svg');
  }
}

#repo-link {
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;
  margin: 16px;
  background-size: 32px;
  background-image: var(--github-mark);
  background-repeat: no-repeat;
  border-radius: 50%;
  text-indent: -99999px;
}

span,
label,
p {
  color: var(--text-color);
}

html {
  width: 100%;
  height: 100%;
  font-family: system-ui, sans-serif;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: var(--backdrop-color);
  scrollbar-color: var(--ui-void-color) var(--ui-background-color);
}

#root {
  display: flex;
  width: 100%;
  height: 100%;
}

#output-container {
  position: relative;
  box-sizing: border-box;
  margin: 16px;
  border: 1px solid var(--ui-border-color);
  border-radius: var(--ui-border-radius);
  overflow: hidden;
  background-color: var(--ui-background-color);
  user-select: none;
}

#output-container > svg {
  position: absolute;
}

#output-container > svg:not([data-layer-name='cells']) {
  pointer-events: none;
}

.cell {
  fill: var(--cell-color);
}

.cell.debug {
  fill: var(--cell-debug-color);
}

rect.highlighted {
  fill: var(--cell-highlight-color);
}

.cell.debug.highlighted {
    fill: var(--cell-debug-highlight-color);
}

.grid-line {
  stroke: var(--grid-line-color);
}

#scale {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 4px;
  line-height: 16px;
  font-size: 16px;
  pointer-events: none;
  transition: opacity 0.2s;
}

button:hover {
  touch-action: manipulation;
  box-shadow: 0 0 2px var(--ui-shadow-color);
}

button {
  width: fit-content;
  padding: 10px;
  border: 1px solid var(--ui-border-color);
  border-radius: var(--ui-border-radius);
  background-color: var(--ui-background-color);
  color: var(--text-color);
  font-size: 16px;
  cursor: pointer;
}

#zoom-controls {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 16px;
}

#zoom-controls > button {
  margin: 0;
  padding: 4px 10px;
  border: 1px solid var(--ui-border-color);
  border-radius: 0;
  font-size: 24px;
  background-color: var(--ui-background-color);
  color: var(--text-color);
}

#zoom-controls > button:first-child {
  border-bottom-width: 0;
  border-radius: var(--ui-border-radius) var(--ui-border-radius) 0 0;
}

#zoom-controls > button:last-child {
  border-radius: 0 0 var(--ui-border-radius) var(--ui-border-radius);
}

#pointer-coords {
  position: absolute;
  top: 0;
  left: 0;
  margin: 4px;
  line-height: 16px;
  font-size: 16px;
  pointer-events: none;
}

#settings-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 16px;
  position: relative;
  padding: 16px;
  overflow-y: auto;
  overscroll-behavior: contain;
}

#download-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

@media (orientation: landscape) {
  #root {
    flex-direction: row;
  }
  #output-container {
    flex: 2;
    max-width: 60%;
    margin-right: 0;
  }
}

@media (orientation: portrait) {
  #root {
    flex-direction: column;
  }
  #output-container {
    width: 100%;
    aspect-ratio: 1;
    max-height: 60%;
    margin: 0;
    border-width: 1px 0 1px 0;
    border-radius: 0;
  }
}
